<!-- Yusuke Kuroki(301137023) Sept.27 -- index.ejs -->
<%- include ../partials/header.ejs%>

<%- include ../partials/main_nav.ejs%>

	<!-- main content -->
	<main class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11">
				<h1><%= title %></h1>
				<a href="/book-list/add" class="btn btn-primary" role="button">
					<i class="fas fa-plus-circle"> Add a Book</i>
				</a>
				<br><br>
				<table class="table table-bordered table-striped table-hover">
					<!-- header row-->
					<tr>
						<th class="text-center col-2">Name</th>
						<th class="text-center col-2">Author</th>
						<th class="text-center col-1">Published</th>
						<th class="col-4">Description</th>
						<th class="text-center">Price</th>
						<th class="text-center col-1"></th>
						<th class="text-center col-1"></th>
					</tr>

					<!-- repeatable template row-->
					<% for (let count = 0; count < BookList.length; count++) { %>
						<tr>
							<td class="text-center col-2"><%= BookList[count].name %></td>
							<td class="text-center col-2"><%= BookList[count].author %></td>
							<td class="text-center col-1"><%= BookList[count].published %></td>
							<td class="col-4"><%= BookList[count].description %></td>
							<td class="text-center col-1"><%= BookList[count].price %></td>
							<th class="text-center col-1">
								<a href="/book-list/edit/<%= BookList[count]._id %>" class="btn btn-primary btn-sm">
									<i class="fas fa-pencil-alt"> Edit</i>
								</a>
							</th>
							<th class="text-center col-1">
								<a href="/book-list/delete/<%= BookList[count]._id %>" class="btn btn-danger btn-sm">
								<i class="fas fa-trash-alt"> Delete</i>
								</a>
							</th>
							</tr>
					<% } %>
				</table>
			</div>
		</div>
	</main>

<%- include ../partials/bottom_nav.ejs%>

<%- include ../partials/footer.ejs%>