<!-- Yusuke Kuroki(301137023) Oct.18 -- contact/edit.ejs -->
<%- include ../partials/header.ejs%>

<%- include ../partials/main_nav.ejs%>

	<!-- content for the edit page -->
	<div class="container">
		<div class="row">
			<div class="offset-md-3 col-md-6">
				<h1><%= title %></h1>

				<form class="form" method="POST">
					<div class="form-group">
						<label for="contactnameTextField">Contact Name: </label>
						<input type="text" class="form-control"
						id="contactnameTextField"
						placeholder="Enter the Contact Name"
						name="contactname" 
						value="<%= contact.contactname %>"
						required>
					</div>
	
					<div class="form-group">
						<label for="contactnumberTextField">Contact Number: </label>
						<input type="tel" class="form-control"
						id="contactnumberTextField"
						placeholder="Enter the Contact Number"
						name="contactnumber"
						value="<%= contact.contactnumber %>"
						required>
					</div>
	
					<div class="form-group">
						<label for="emailTextField">Email Address: </label>
						<input type="email" class="form-control"
						id="emailTextField"
						placeholder="Enter the Email Address"
						name="email"
						value="<%= contact.email %>"
						required>
					</div>

					<br>
					<button class="btn btn-primary" type="submit">
						<i class="fas fa-edit"></i> Edit
					</button>

					<a href="/contact-list" class="btn btn-warning">
						<i class="fas fa-undo"></i> Cancel
					</a>

					<a href="/contact-list/delete/<%= contact._id %>" class="btn btn-danger">
						<i class="fas fa-trash-alt"></i> Delete
					</a>
				</form>
			</div>
		</div>
	</div>

<%- include ../partials/bottom_nav.ejs%>

<%- include ../partials/footer.ejs%>