<!-- Yusuke Kuroki(301137023) Sept.27 -- index.ejs -->
<%- include ../partials/header.ejs%>

<%- include ../partials/main_nav.ejs%>

	<!-- main content -->
	<main class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11">
				<h1><%= title %></h1>

				<% if (typeof displayName == 'string' && displayName) { %>
					<a href="/contact-list/add" class="btn btn-primary" role="button">
						<i class="fas fa-plus-circle"> Add a Contact info</i>
					</a>
					<br><br>
				<% } %>

				<table class="table table-bordered table-striped table-hover">
					<!-- header row-->
					<tr>
						<th class="text-center col-2">Contact Name</th>
						<th class="text-center col-2">Contact Number</th>
						<th class="text-center col-2">Email</th>

						<% if (typeof displayName == 'string' && displayName) { %>
							<th class="text-center col-1"></th>
							<th class="text-center col-1"></th>
						<% } %>
					</tr>

					<!-- repeatable template row-->
					<% for (let count = 0; count < ContactList.length; count++) { %>
						<tr>
							<td class="text-center col-2"><%= ContactList[count].contactname %></td>
							<td class="text-center col-2"><%= ContactList[count].contactnumber %></td>
							<td class="text-center col-2"><%= ContactList[count].email %></td>

							<% if (typeof displayName == 'string' && displayName) { %>
								<td class="text-center col-1">
									<a href="/contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm">
										<i class="fas fa-pencil-alt"><br>Edit</i>
									</a>
								</td>
								<td class="text-center col-1">
									<a href="/contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
									<i class="fas fa-trash-alt"> Delete</i>
									</a>
								</td>
							<% } %>
						</tr>
					<% } %>
				</table>
			</div>
		</div>
	</main>

<%- include ../partials/bottom_nav.ejs%>

<%- include ../partials/footer.ejs%>